@model Blog.Models.ViewModel

<html>
<head>
</head>
<body>
	<h1>Blog</h1>

	<div id="content">
		<div class="search">
			<input id="searchButton" class="btn" type="submit" value="Search" onclick="Search()">
			<input id="search" type="text" value="@ViewBag.search" placeholder="Search">
		</div>

		<div class="input">
			<form asp-controller="Home" asp-action="CreatePost" method="post">
				<div>
					@foreach(var item in Model.Categories)
					{
						<div class="radioCategory">
							@if(item.CategoryName == "RANT")
							{
								//name = "category"
								<label>
									<input checked asp-for="Post.CategoryType.CategoryName" class="radio-inline" type="radio" value="@item.CategoryName"/> @item.CategoryName.ToUpper() <br />
								</label>
							}
							else
							{
								<label>
									<input asp-for="Post.CategoryType.CategoryName" class="radio-inline" type="radio" value="@item.CategoryName" /> @item.CategoryName.ToUpper() <br />
								</label>
							}
							<span asp-validation-for="Post.CategoryType.CategoryName"></span>
						</div>
					}
				</div>
				<br />
				<div>
					<input asp-for="Post.Headline" placeholder="Headline" required/>
					<span asp-validation-for="Post.Headline"></span>
				</div>
				<div>
					<textarea asp-for="Post.PostMessage" placeholder="Content" required></textarea>
					<span asp-validation-for="Post.PostMessage"></span>
				</div>

				<div>
					<button class="btn" type="submit" onclick="return Validate()">Send</button>
					<button class="btn" type="reset">Reset</button>
				</div>
			</form>

		</div>
		<hr />

		<div class="blogArea">
			@foreach(var item in Model.Posts)
			{
				<div id="post-@item.Id">
					<h5>Category: <a href="/Home/Index/@item.CategoryType.CategoryName">@item.CategoryType.CategoryName.ToUpper()</a> </h5>
					<h2 class="headline">@item.Headline</h2>
					<a href="#" class="removePost" onclick="DeletePost(@item.Id)">Remove</a>
					<h6>@item.PostDate.ToString(@"yyyy-MM-dd HH:mm")</h6>
					<p class="postContent">@item.PostMessage</p>
					<hr />
				</div>
			}
		</div>

	</div>

	<script>
		$(document).ready(function () {
			$(".headline").click(function () {
				$(this).siblings(".postContent").slideToggle();
			});
		});

		function Validate() {
			var validate = true;

			var headline = document.getElementById("Post_Headline");
			var content = document.getElementById("Post_PostMessage");

			if (headline.value.trim().length < 1 || headline.value.trim().length > 50) {
				headline.classList.add("unfinished");
				validate = false;
			}
			else {
				headline.classList.remove("unfinished");
			}

			if (content.value.trim().length < 3 || content.value.trim().length > 2000) {
				content.classList.add("unfinished");
				validate = false;
			}
			else {
				content.classList.remove("unfinished");
			}
			return validate;
		}

		function DeletePost(id) {
			if (confirm("Are you sure you want to delete?"))
				window.location.href = "/Home/DeletePost/" + id;
		}

		function Search() {
			var search = document.getElementById("search").value;
			window.location.href = "/Home/Index/" + search;
		}

		function Clear() {
			window.location.href = "/Home/Index/";
		}

	</script>
</body>
</html>
